.main-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	height: 100vh;
	padding: 140px 195px 0px 195px;
}

.main-container__images-block {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: 810px;
}